.well
  %legend
    Welcome!
  %p
    By signing in to Confreaks.tv you'll be able to keep track of what videos you've watched, make lists of videos, and comment on videos.
  %p
    The majority of the videos on Confreaks.tv have been released under a Creative Commons 3.0 Share and Share Alike with Attribution license, but you should look at each one to verify what sort of license it is released under, before utilizing the video for anything more than viewing.
  %p
    For more information about Confreaks Professional recording services visit:
    =link_to "confreaks.com", "http://confreaks.com", :target => "_blank"