.row
  .span12
    %legend
      Conferences
    %table#conferences.table.table-striped
      %thead
        %tr
          %th
            ID
          %th
            Name
          %th
            Events
          %th
            Actions
      %tbody
        = render :partial => "conference", :collection => @conferences
        