-unless video.license.blank?
  -if video.license =~ /^cc/
    .video-license
      %div{ "xmlns:cc" => "http://creativecommons.org/ns#" }
        This presentation, by
        =raw(display_presenters_with_external_links(video))
        , is licensed under a
        =link_to video.license_title, video.license_url, :rel => "license", :target => "_blank"
        %br
        %a{ :rel => "license", :href => video.license_url }
          =image_tag(video.license_image_file_url)
