.container
  .row
    .span12
      %footer
        .copyright
          &copy; Confreaks 2007 - 2012, All Rights Reserved, except where explicitly stated.
        .version
          Version:
          =APP_VERSION