.row
  .span12
    %h1
      Events
.row
  -k=-1
  -@events.each do |event|
    -k+=1
    .span6
      .well
        .conference-mini-display-outer
          .conference-mini-display
            .inner
              =image_tag(event.logo.url)
              .caption
                =link_to event.display_name, event_path(event)
    -if (k+1) % 2 == 0
      .clearfix
