%tr
  %td
    =link_to entry.video.title, video_path(entry.video)
  %td
    =raw(display_video_presenter_links entry.video)
  %td
    =entry.video.event.display_name
  %td.tr
    =entry.video.views
  %td
    =entry.created_at