// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.redbox {
    background: red;
    padding: 2px;
}

.greenbox {
    background: green;
    padding: 2px;
}

.bluebox {
    background: blue;
    padding: 2px;
}

.large-video-display {
    background: #eeeeee;
}

.video-display-container {

}

.video-previous {
    float: left;
}
.video-controls {
    margin: 0 auto;
    text-align: center;
}
.video-frame {
    margin: 5px auto;
    text-align: center;
}
.video-abstract {
    text-align: left;
    line-height: 1.5em;
}

.video-abstract p {
    margin: 0 25px 5px 25px;
}

.video-more {
    text-align: center;
}

.video-abstract-full {
    display:none
}

.video-next {
    float: right;
}

.clear {
    clear: both;
}

.video-label {
    font-size: 1em;
}

.video-conference {
    font-size: 1.25em;
    text-align: center;
    clear: both;
}

.video-title {
    font-size: 1.75em;
    margin-left: 10px;
    line-height: 1.5em;
}

.video-presenters {
    font-size: 1.2em;
    font-style: italic;
    margin-left: 20px;
}

.previous-channel {
    margin: 10px 0 10px 0;
    text-align: left;
}

.current-channel {
    margin: 10px 0 10px 0;
    font-size: 1.5em;
    text-align: center;
}

.next-channel {
    margin: 10px 0 10px 0;
    text-align: right;
}

.dropdown-menu {
  left: 404px;

  li a {
    text-align: left;
  }
}

.caret {
  margin-top: 8px;
}

.cftab-content {
    margin-top: -18px;
}

.tab-pane.active {
    background: white;
    padding: 10px;
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
}

.home-page-carousel-controls .carousel-control {
  top: 120px;
}

.home-page-carousel-controls a {
                             z-index: 9999;
}

.large-stat {
            text-align: center;
            font-size: 4em;
}

.stat {
      font-size: 2em;
      line-height: 50px;
      text-align: center;
      height: 40px;
}

td.tr {
      text-align:right;
      padding-right: 50px;
}

/* CLEARFIX
=-=-=-=-=-=-=-=-=-=*/

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
